{% extends 'master.htm' %}
{% load static %}

{% block page_static %}
    <link rel="stylesheet" href="/static/products_app/style.css">
{% endblock %}

{% block page_title %}
    {{ instance.name }}
{% endblock %}

{% block page_content %}
    
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Наименование</label>
            <input class="form-control" name="name" type="text">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>

{% endblock %}